.title-main {
  display: inline-block;
  font-size: 32px;
}

.title_m {
  font-size: 20px;
}

.title_s {
  font-size: 16px;
}

.margin-b-xs {
  margin-bottom: 8px;
}


.margin-b-s {
  margin-bottom: 16px;
}


.margin-b-m {
  margin-bottom: 24px;
}

.margin-b-l {
  margin-bottom: 32px;
}

.margin-b-xl {
  margin-bottom: 56px;
}

.font-kiwi-maru{
  font-family: 'Kiwi Maru';
}

.link-text-right{
  text-align: right;
  display: block;
}
