/* A Modern CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
  color:$color-black;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}


body {
  text-rendering: optimizeSpeed;
  line-height: 1.8;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  //max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media(prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto
  }
  *, *::before, *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important
  }
}

/* add */
body {
  font-family: 'Noto Sans JP', sans-serif;
  //background: $color-background;
  //background: url("assets/images/pattern.png") repeat;
  color: $color-black;
}

body.top {
  .container {
    height: 100vh;
  }
}

ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}


a:link,
a:visited{
  color : $color-link;
  text-decoration: none;
}

.content {
  a:link,
  a:visited {
    text-decoration: underline;
    color: $color-link;
  }
}

blockquote,
.embed a{
  display: block;
  margin: 24px 0;
  padding: 1em;
  border-left: 6px solid $color-gray-dark3;
  color: $color-gray-dark3;
}

blockquote > *{
  color: $color-gray-dark3;
}
