$color-black: #3B375F;
$color-gray-light1:#E0E0E0;
$color-gray-dark1: #464646;
$color-gray-dark2: #717171;
$color-gray-dark3: #ababab;
$color-portfolio: #594ddd;
$color-note: #baaa3c;

// media query break point//
$bp-lg: 1024px;
$bp-md: 680px;
$bp-sm: 480px;
$bp-xsm: 380px;
